/*=== Font ===*/
@font-face {
  font-family: "Figtree";
  src: url ("../assets/fonts/Figtree-VariableFont_wght.ttf");
}

/*=== Variables ===*/
:root {
  /*== Colors ==*/
  --main-white: #fff;
  --main-gray: #808080;
  --main-black: #121212;
  --main-bg-color: #f4d04e;
  /* == Font ==*/
  --font: "Figtree", sans-serif;
}

/*=== Globals ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font);
  font-size: 62.5%;
  line-height: 1.5;
  background-color: var(--main-bg-color);
}
.container {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
}

/*=== Card ===*/
.card {
  width: 90%;
  padding: 2rem;
  border: 1px solid var(--main-black);
  border-radius: 2.8rem;
  background-color: var(--main-white);
  box-shadow: 0.8rem 0.8rem var(--main-black);
}
.card__image {
  margin: 0 auto 1.6rem;
}
.card__image img {
  width: 100%;
  border-radius: 0.8rem;
}
.card__label {
  width: 6.4rem;
  margin-bottom: 1.2rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-weight: 900;
  text-align: center;
  background-color: var(--main-bg-color);
}
.card__date {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  color: var(--main-black);
}
.card__title {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 900;
}
.card__description {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: var(--main-gray);
}
.card__avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
.card__avatarPhoto {
  width: 4rem;
}
.card__avatarName {
  font-size: 1.4rem;
  font-weight: 900;
}
@media (min-width: 500px) {
  .card {
    width: 350px;
  }
}

/*=== Footer ===*/
.footer {
  margin-top: 2.4rem;
  font-size: 1.2rem;
}
.footer a {
  color: dodgerblue;
}
.footer a:hover {
  font-size: 1.4rem;
  text-decoration: none;
}
